<head>
    <style>
        [hidden] {
            display: none !important;
        }
    </style>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ImageId')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>



<div class="row" style="padding-bottom:15px">
    <div class="col-md-5">
        <img style="width:50%; height:50%;" src="~/Pictures/Logo2.jpeg" />


    </div>
    <div class="col-md-2">
        <div class="text-center" style="margin-top:7rem">



        </div>
    </div>
    <div class="col-md-5">

    </div>
</div>

<div class="row">
    <div style="padding-bottom:3rem;margin-left:5rem">
        <h3>Some personal details:</h3>
    </div>
    <div class="col-md-6 form-horizontal">

        <div class="form-group form-inline" style="margin-left:4rem">
            <label>Business :</label>
            <select class="form-control" style="width:200px;margin-left:4.5rem">
                <option value="" selected disabled>Work Category</option>
                <option value="OPlumber">Plumber</option>
                <option value="OPhotographer">Photographer</option>
                <option value="OLandscaping">Landscaping</option>
                <option value="OPainting">Painting</option>
                <option value="OElectrician">Electrician</option>
                <option value="OCarpenter">Carpenter</option>
            </select>
        </div>

        <br />

        <div class="form-group form-inline" style="margin-left:4rem">
            <label>Name:</label>
            <input type="text" class="form-control" style="margin-left:7.5rem;" />
        </div>
        <br />

        <div class="form-group form-inline" style="margin-left:4rem">
            <label>Surname:</label>
            <input type="text" class="form-control" style="margin-left:5rem;" />
        </div>
        <br />
        <div class="form-group form-inline" style="margin-left:4rem">
            <label>Email:</label>
            <input type="text" class="form-control" style="margin-left:7.5rem" />
        </div>
        <br />
        <div class="form-group form-inline" style="margin-left:4rem">
            <label>Province:</label>
            <select class="form-control" style="width:200px;margin-left:5rem">
                <option value="Gauteng">Gauteng</option>
                <option value="Limpopo">Limpopo</option>
                <option value="Free State">Free State</option>
                <option value="Eastern Cape">Eastern Cape</option>
                <option value="Western Cape">Western Cape</option>
                <option value="Kwazulu- Natal">Kwazulu-Natal</option>
                <option value="North West">North West</option>
                <option value="Northern Cape">Northern Cape</option>
                <option value="Mpumalanga">Mpumalanga</option>
            </select>
        </div>

        <br />
        <div class="form-group form-inline" style="margin-left:4rem">
            <label>City:</label>
            <select class="form-control" style="width:200px;margin-left:8.2rem">
                <option value="Johannesburg">Johannesburg</option>
                <option value="Pretoria">Pretoria</option>
                <option value="Durban">Durban</option>
                <option value="Bloemfontien">Bloemfontien</option>
                <option value="Cape Town">Cape Town</option>
                <option value="Port Elizabeth">Port Elizabeth</option>
                <option value="Polokwane">Polokwane</option>
                <option value="East London">East London</option>
                <option value="Stellenbosch">Stellenbosch</option>
            </select>
        </div>

        <br />

        <div class="form-group form-inline" style="margin-left:4rem">
            <label>Suburb:</label>
            <input type="text" class="form-control" style="margin-left:6rem;" />
        </div>
    </div>

    <div class="col-md-6">

        <div class="control-group">

            <div class="controls" style="margin-left:12rem">
                <div class="form-group">
                    <label for="Image"> <b> Upload a photo of yourself:</b> </label>
                    <label class="btn btn-primary">
                        <i class="glyphicon glyphicon-folder-open"></i><input type="file" onchange="readURL(this)" hidden>
                    </label>
                </div>

                <img id="ImageId" style="height:250px; width:350px; object-fit:fill; border-radius:15px; border:solid; color:lightgray" />
            </div>
        </div>
        <br />
        <div style="margin-top:9rem; margin-left:31rem">
            <button class="btn btn-primary" onclick="location.href='@Url.Action("FLUserReg", "UserRegistration")'">Go Back</button>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Freelancer")'">Register</button>
        </div>

    </div>


</div>
