
<div class="row" style="padding-bottom:15px">
    <div class="col-md-5">
        <img style="width:50%; height:50%;" src="~/Pictures/Logo2.jpeg" />


    </div>
    <div class="col-md-2">
        <div class="text-center" style="margin-top:7rem">



        </div>
    </div>
    <div class="col-md-5">

    </div>
</div>
@using (Html.BeginForm("EmployerFreelancer", "UserRegistration"))
{
    <div class="row">
        <div style="padding-bottom:3rem;margin-left:5rem">
            <h3>Some Account details:</h3>
        </div>

        
        <div class="col-md-6 form-horizontal">
            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Account type :</label>
                <select class="form-control" id="ma" onchange="somefunction()" name="Dropdown" style="width:200px;margin-left:4.5rem">
                    <option value="0" selected disabled>Type</option>
                    <option value="1">Freelancer</option>
                    <option value="2">Employer</option>
                </select>
            </div>
            <br />
            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Username:</label>

                <input type="text" class="form-control" style="margin-left:7.5rem" />

            </div>

            <br />

            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Password:</label>
                <input type="text" class="form-control" style="margin-left:7.5rem;" />
            </div>
            <br />

            <div class="form-group form-inline" style="margin-left:4rem">
                <label class="text-center">Confirm<br /> Password:</label>
                <input type="text" class="form-control" style="margin-left:7.5rem;" />
            </div>

            <br />
            <div class="form-group form-inline" style="margin-left:4rem">
                <label class="text-center">Security <br /> Quetion:</label>
                <select class="form-control" style="width:200px;margin-left:8.5rem">
                    <option value="" selected disabled>Choose a Question</option>
                    <option value="Pet Name">Pet Name</option>
                    <option value="Favorite Teacher">Favorite Teacher</option>
                    <option value="Favorite Fast Food">Favorite Fast Food</option>
                </select>
            </div>
            <br />
            <div class="form-group form-inline" style="margin-left:4rem">
                <label> Answer:</label>
                <input type="text" class="form-control" style="margin-left:8.9rem" />
            </div>
            <br />


        </div>
    </div>

<div>
    <div style="margin-left:80%;margin-top:1rem">
        
        <button class="btn btn-primary" type="submit" onclick="location.href='@Url.Action("EmployerRegistration", "UserRegistration")'" id="submitButton" style="width:100px">Next Step</button>

    </div>

</div>}
    


<div style="margin-left:80%;margin-bottom:20px">
    

        <button class="btn btn-primary" style="width:100px" onclick="location.href='@Url.Action("Login", "Login")'">Go Back</button>

   

</div>





@*<script>
        $(document).ready(function () {
            $("#Dropdown").on("change", function () {
                var selctvalue = $("#Dropdown").val();

            });

        });
    </script>*@


