<div class="container">

    <div class="row">
        <div class="col-md-5">
            <div style="float:right;margin-top:5rem;margin-right:20rem;">
                <h4> Yahil Rathod</h4>
                <h5>Plumber</h5>
                <h5>Laudium, Gauteng</h5>
            </div>
            <i class="glyphicon glyphicon-user" style="font-size:100px; margin-top:3rem;"></i>
        </div>


        <div class="text-center col-md-2" style="margin-top:4rem">
            <h1>Update Portfolio</h1>

        </div>

        <div class="col-md-5">
            <div style="margin-bottom:90px">
                <img style="width:60%; height:60%;float:right;" src="~/Pictures/Logo.jpeg" />
            </div>

        </div>

    </div>

    <div class="row" style="padding-bottom:40px;">

        <div style="float: left; width: 50%; ">
            <div style="margin-left:10rem">
                <label for="#Desc">Enter a description of your work:</label>
                <textarea type="text" class="form-control" id="Desc"
                          placeholder="Enter text here" rows="10" cols="50" maxlength="100"
                          style="width: 80%; height:90%; max-width: 100%;resize: none; border-radius: 10px;"></textarea>
            </div>
        </div>

        <div style="float: right; width: 50%;">
            <div style="margin-left:10rem">
                <label for="#Photo">Upload photos of your work</label>  <span><i class="glyphicon glyphicon-folder-open"></i></span>
                <textarea type="text" class="form-control" id="Photo"
                          placeholder="Photos will be displayed here:" rows="10" cols="50" maxlength="100"
                          style="width: 80%; height: 90%; max-width: 100%; resize: none; border-radius: 10px;"></textarea>
            </div>
        </div>

    </div>
    <div style="padding-bottom:4%;margin-left:82rem">
        <button style="width:110px" class="btn btn-primary btn-" onclick="window.location.href='@Url.Action("User_Profile", "Freelancer")'">Go Back</button>
        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("User_Profile", "Freelancer")'">Save my details</button>
    </div>
</div>