<style>
    .modal-header, h5, .close {
        background-color: steelblue;
        color: white !important;
        text-align: center;
        font-size: 20px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }
</style> 

<div class="navbar bg-primary navbar-expand-lg navbar-fixed-top">
    <div style="padding:4px">
        <a class="navbar-brand" href="#">
            <img src="~/Pictures/Logo2.jpeg" alt="logo" style="width:75px;border-radius: 15px;">
        </a>
    </div>
    <div style="margin-top:0.2rem; margin-left:65%">
        <span class="navbar-text" style="padding-right:1rem">
            <label> Yahil Rathod:</label>
            <label>Plumber,</label>
            <label>Laudium, Gauteng</label>
        </span>
        <span> <i class="glyphicon glyphicon-user" style="font-size:35px;cursor:pointer "></i></span>
        <span style="padding-left:2rem;font-size:25px;cursor:pointer" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-5">
            
        </div>


        <div class="text-center col-md-2" style="margin-top:4rem">
            <h1>Update Portfolio</h1>

        </div>

        <div class="col-md-5">
           

        </div>

    </div>

    <div class="row" style="padding-bottom:40px;padding-top:8rem">

        <div style="float: left; width: 50%; ">
            <div style="margin-left:10rem">
                <label for="#Desc">Enter a description of your work:</label>
                <textarea type="text" class="form-control" id="Desc"
                          placeholder="Enter text here" rows="10" cols="50" maxlength="100"
                          style="width: 80%; height:90%; max-width: 100%;resize: none; border-radius: 10px;"></textarea>
            </div>
        </div>

        <div style="float: right; width: 50%;">
            <div style="margin-left:10rem">
                <label for="#Photo">Upload photos of your work</label>  <span><i class="glyphicon glyphicon-folder-open"></i></span>
                <textarea type="text" class="form-control" id="Photo"
                          placeholder="Photos will be displayed here:" rows="10" cols="50" maxlength="100"
                          style="width: 80%; height: 90%; max-width: 100%; resize: none; border-radius: 10px;"></textarea>
            </div>
        </div>

    </div>
    <div style="padding-bottom:4%;margin-left:82rem">
        <button style="width:110px" class="btn btn-primary btn-" onclick="window.location.href='@Url.Action("User_Profile", "Freelancer")'">Go Back</button>
        <button class="btn btn-primary"  data-toggle="modal" data-target="#save">Save my details</button>
    </div>
</div>

<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLongTitle">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Would you like to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Login", "Login")'">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLongTitle">Save Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              Tour details have been saved
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
             
            </div>
        </div>
    </div>
</div>