<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div style="float:right;margin-top:5rem;margin-right:20rem;">
                <h4> Yahil Rathod</h4>
                <h5>Plumber</h5>
                <h5>Laudium, Gauteng</h5>
            </div>
            <i class="glyphicon glyphicon-user" style="font-size:100px; margin-top:3rem;"></i>
        </div>


        <div class="text-center col-md-2" style="margin-top:8rem;">


        </div>

        <div class="col-md-5">
            <div style="margin-bottom:90px">
                <img style="width:60%; height:60%;float:right;" src="~/Pictures/Logo.jpeg" />
            </div>

        </div>

    </div>

    <div class="container" style="padding-bottom:2rem">
        <label for="table ">Who has gotten in touch with you</label>
        <table id="table" class="table  table-hover table-responsive"
               style="margin-left: auto; margin-right: auto;">
            <tr>
                <th>Name</th>
                <th>Business Name</th>
                <th>Email</th>
                <th>Date</th>
            </tr>


            <tr>
                <td>Mike</td>
                <td>N/A</td>
                <td>Mike@gmail.com </td>
                <td>01/02/2020 </td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>Sasol</td>
                <td>jane@mweb.co.za </td>
                <td>06/03/2020 </td>
            </tr>
            <tr>
                <td>Nemo</td>
                <td>EY</td>
                <td>Nemo@mweb.co.za</td>
                <td>02/04/2020 </td>
            </tr>

        </table>

    </div>
    <div style="padding-bottom:9rem">
        <div style="float:right;">
            <button style="width:100px" class="btn btn-primary " onclick="window.location.href='@Url.Action("User_Profile", "Freelancer")'">Go Back</button>
            <br />
            <div style="padding-top:1rem">
                <button class="btn btn-primary ">Print Report</button>
            </div>
        </div>
    </div>
</div>